{{#each this}}
  <div class="member col-md-3" data-key='{{@key}}'>
    <button type="button" id="deleteMember">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <h3 class="text-center">
      {{name}}<br>
      <small>
        {{age}} years young
      </small>
    </h3>
    <dl class="dl-horizontal">
      <dt>Species</dt>
      <dd>{{species}}</dd>
      <dt>Gender</dt>
      <dd>{{gender}}</dd>
      <dt>Skills</dt>
      {{#each skills}}
        <dd>{{this}}</dd>
      {{/each}}
    </dl>
  </div>
{{/each}}